body {
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border-bottom: 5px groove rgba(0, 0, 0, 0.18);
  padding-left: 160px;
  padding-right: 160px;
}

.logo {
  width: 260px;
  height: 75px;
  object-fit: cover;
}

.iconsNavbar {
  height: 30px;
  width: 30px;
  object-fit: cover;
  margin-right: 24px;
}

.navbar img:hover {
  opacity: 0.6;
}

.postcontainer {
  margin-top: 60px;
  margin-left: 160px;
  margin-bottom: 80px;
  display: flex;
  justify-content: space-between;
  margin-right: 160px;
}

.postcomplete {
  border: 3px groove rgba(0, 0, 0, 0.18);
  width: 700px;
}

.postheader {
  margin: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image img {
  object-fit: cover;
  width: 100%;
}

.postbar {
  margin-top: 8px;
  margin-right: 8px;
  margin-left: 8px;
}

.icons img {
  margin-right: 8px;
}

.postbar img:hover {
  opacity: 0.6;
}

.likes {
  margin-top: 8px;
  margin-right: 8px;
  margin-left: 8px;
  width: 100px;
}

.caption {
  margin-top: 8px;
  margin-right: 8px;
  margin-left: 8px;
}

.comments {
  margin-top: 8px;
  margin-right: 8px;
  margin-left: 8px;
}

.inputfield {
  margin-top: 10px;
  padding: 8px 8px;
  display: flex;
  border-top: 3px groove rgba(0, 0, 0, 0.18);
}

.menu {
  height: 10px;
  object-fit: cover;
}

.menu:hover {
  opacity: 0.6;
  cursor: pointer;
}

.postprofil {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
}

.postprofil img {
  margin-right: 8px;
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 90px;
}

.postprofil:hover {
  text-decoration: underline;
  cursor: pointer;
}

.postheader img {
  margin-right: 8px;
}

.postbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.postbar img {
  height: 24px;
  object-fit: cover;
}

input {
  height: 24px;
  width: 80%;
  border: none;
}

.searchfield {
  width: 200px;
  height: 30px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #dddddd;
}

button {
  width: 20%;
  height: 30px;
}

.friendscontainer {
  width: 400px;
}

.friendscontainer a {
  text-decoration: none;
  color: rgb(0, 180, 255);
}

.friendscontainer a:hover {
  text-decoration: underline;
}

.hover:hover {
  text-decoration: underline;
  cursor: pointer;
}

.filter {
  filter: invert(96%) sepia(0%) saturate(0%) hue-rotate(237deg) brightness(93%)
    contrast(94%);
}
.friendsbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.friendsbox-self-profil {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  margin-top: 16px;
}

.friendsbox-self-profil img {
  height: 55px;
  width: 55px;
}

.friendsbox img {
  height: 40px;
  width: 40px;
}

footer {
  margin-top: 30px;
  filter: invert(96%) sepia(0%) saturate(0%) hue-rotate(237deg) brightness(93%)
    contrast(94%);
}

.vorschläge {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 16px;
}

.opacity-color {
  color: rgb(174, 168, 168);
}

.opacity-color:hover {
  text-decoration: underline;
  cursor: pointer;
}

.margin {
  margin: 8px;
}

.linkprofil {
  font-weight: bold;
}

.linkprofil:hover {
  text-decoration: underline;
  cursor: pointer;
}

.profilimage {
  width: 40px;
  height: 40px;
  border-radius: 90px;
  margin-left: 10px;
}

.storys {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.storys img {
margin-top: 40px;
margin-right: 30px;
  width: 60px;
  height: 60px;
  object-fit: cover;
}
